i/*
 *  Common style
 */

/* Body style */
body {
    color: #484848;
    font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
 * Container class
 */
.container {
    margin: 30px auto;
    max-width: 1000px;
    justify-content: center;
}

html, body {
  width: 100%;
    overflow-x: hidden;
}
