/*
 * Header style
 */

header {
    background-color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70px;
	width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: url('../images/logo.png') 20px center no-repeat;   
}
