/*
 * Filter style
 */

.filters {
    background-color: #FFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDD;
    border-radius: 4px;
}

.filters button {
    font: 18px;
    background-color: #FF5A5F;
    color: #FFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin: 12px 30px;
    float: right;
}

.filters button:hover {
    background-color: rgba(255, 90, 95, .9);
}
